<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--author:starttemplate-->
<!--reference site : starttemplate.com-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form"
    />
    <meta name="author" content="leamug" />

    <!-- Bootstrap core Library -->
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script"
      rel="stylesheet"
    />
    <!-- Font Awesome-->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-5 col-md-4 text-center">
          <div class="form-login">
            <br />
            <h4>Become A Member</h4>
            <br />
            <input
              class="form-control input-sm chat-input"
              [(ngModel)]="firstName"
              id="firstname"
              type="text"
              placeholder="First name"
            />
            <br /><br />
            <input
              [(ngModel)]="lastName"
              type="text"
              id="lastname"
              class="form-control input-sm chat-input"
              placeholder="Last name"
            />
            <br /><br />
            <input
              [(ngModel)]="email"
              type="email"
              id="email"
              class="form-control input-sm chat-input"
              placeholder="Email"
            />
            <br /><br />
            <input
              [(ngModel)]="phoneNumber"
              type="text"
              id="phonenumber"
              class="form-control input-sm chat-input"
              placeholder="Phone number"
            />
            <br /><br />
            <input
              [(ngModel)]="password"
              type="password"
              id="userPassword"
              class="form-control input-sm chat-input"
              placeholder="Password"
            />
            <br /><br />
            <div class="wrapper">
              <span class="group-btn">
                <button
                  (click)="addUser()"
                  class="btn btn-danger btn-md"
                  type="submit"
                >
                  Signup <i class="fa fa-sign-in"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <br /><br /><br />
      <!--footer-->
      <!--//footer-->
    </div>
  </body>
</html>
