<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<div class="form-container">

  <form (submit)="createAppointment()">
    <mat-form-field>
      <input [(ngModel)]="appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="numberOfPeople" name="numberOfPeople" matInput placeholder="Number of people" type="number">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="place" name="place" matInput placeholder="Place" type="text">
    </mat-form-field>
    <button mat-raised-button color="primary">Reserve</button>
  </form>
</div>