<!-- <p>works!</p>
<h2 style="text-align: center">add-blog</h2>
<div class="form">
  <form
    class="blog-form forms"
    enctype="multipart/form-data"
    [formGroup]="blogForm"
    (ngSubmit)="create()">
    <input
    name="title"
    type="text"
    placeholder="title"
    formControlName="title"
  />
  <input
  name="image"
  type="file"
  placeholder="image"
  formControlName="image"
  />
<input
name="body"
type="text"
placeholder="body"
formControlName="Body"
/><br/><br/>
<button>add your blog</button>
</form>
</div> -->
<h1>File Upload</h1>
<input type="file" (change)="onFileSlected($event)" />

